*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{
  background: linear-gradient(#0000cc, #000066)
}

.logo{
  width: 20%;
  height: 150px;
  border-radius: 0px 100px;
  background-color:  #66ff66;
  text-align: center;
  padding: 50px;
  font-size: 40px;
  box-shadow: 10px 10px 5px #000000;
}

.logoIniciais{
  color: #000000;
  text-shadow: 2px 2px 1px #000000;
}

.quemSou{
  width: 70%;
  height: 200px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: #66ff66;
  border-radius: 0px 100px;
  box-shadow: 10px 10px 5px #000000;
  padding: 40px;
}

.textoApresentacao{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
}

.habilidades{
  width: 70%;
  height: 200px;
  border-radius: 0px 100px;
  box-shadow: 10px 10px 5px #000000;
  margin-top: 2px;
  background-color: #66ff66;
  margin-top: 20px;
  padding: 10px;
}

.oQueSei{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
}

.rodape{
 text-align: center;
}

.copyRight{
  color: #ffffff;
}